<div class="container">
    <div class='ms-4 mt-5 pt-5 mb-5'>
        <div class='home-title-wrap mb-4'>
            <h2 class="home-title">New Course</h2>
            <form class="search-form" method="get" action="" id="search-form">
                <div class='search-input-wrap'>
                    <input
                        name='keyword'
                        type='text'
                        class='form-control'
                        id='search-input'
                        placeholder='Typing for search.....'
                    />
                    <button id="search-button" type='submit' class='btn btn-primary rounded-5'>Search</button>
                </div>
            </form>
        </div>
        <div class='row'>
            {{#each courses}}
                <div class='col-lg-4 mb-4'>
                    <div class='card course-card' style='width: 20rem'>
                        <a href='/course/{{this._id}}'>
                            <img
                                src='{{this.image}}'
                                class='card-img-top course-img img-fluid'
                                alt='{{this.name}}'
                            />
                        </a>
                        <div class='card-body d-flex flex-column align-items-start justify-content-between'>
                            <a href='/course/{{this._id}}'>
                                <h5 class='card-title'>{{this.name}}</h5>
                            </a>
                            {{!-- <p class='card-text'>{{this.description}}</p> --}}
                            <a
                                href='/course/{{this._id}}'
                                class='btn btn-primary mt-3 w-100'
                            >Study Now</a>
                        </div>
                    </div>
                </div>
            {{else}}
            <div class="text-center">There are no courses yet</div>
            {{/each}}
        </div>
    </div>
</div>
<script>
    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    }

    const SearchForm = document.getElementById('search-form');
    const SearchButton = document.getElementById('search-button');

    SearchButton.onclick = function (event) {
        
        const keyword = document.getElementById('search-input').value;
        SearchForm.action = '/home/search/?keyword=' + keyword;
        SearchForm.submit();
    };
</script>
    

