<div class='container-fluid course-content-wrap'>
    <div class='row'>
        <div class='col-lg-8 mb-5'>
            <div class="lesson-video mb-2">
                <video class="lesson-video" controls frameborder="0" allowfullscreen preload="auto">
                    <source src="{{lessonDetails.video}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="container">
                <h3 class="lesson-title">{{lessonDetails.title}}</h3>
                <p class="lesson-date">Updated At: {{formatDate lessonDetails.updatedAt}}</p>
                
                <h3>Comments</h3>
                <span>(31 comments)</span>
                <div class="comment-input-wrap d-flex p-2">
                    <div class="avatar-cmt-img-wrap me-2 mt-2">
                        <img src="https://fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg" alt="" class="user-avatar">
                    </div>
                    <div class='form-wrap flex-grow-1'>
                        <form method='POST' action='/course/{{lessonDetails.id_course}}/comment/store?id={{lessonId}}'> 
                            <div class="form-group">
                                <input type="text" class="form-control border-0 border-bottom" placeholder="Enter your comment here..." id="commentdetail" name="commentdetail" required />
                                <button type="submit" class="btn btn-primary rounded-5 float-end mt-2" >Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="container">
                    {{#each comments}}
                    <div class="comment-wrap d-flex p-2">
                        <div class="avatar-cmt-img-wrap me-2">
                            <img src="https://fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg" alt="" class="user-avatar">
                        </div>
                        <div class='cmt-content-wrap d-flex justify-content-between align-items-center flex-grow-1'>
                            <div class='cmt-content-detail'>
                                <span class="fw-semibold">{{this.id_user.username}}</span>
                                <span class="text-secondary">Posted at: {{formatDate this.updatedAt}}</span>
                                <p class="comment-content mt-2">{{this.commentdetail}}</p>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-cmt-actions-custom-size rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Update</a></li>
                                    <li><a class="dropdown-item" href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="comment-wrap d-flex p-2">
                        <span class=" d-flex justify-content-center w-100">(There are no comments yet)</span>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-lg-4 position-fixed bottom-0 end-0 mb-4 course-content">
            <span class="course-content-text">Course Content</span>
            {{#each lessons}}
                <ul class="mt-2 lesson-list list-group">
                    <a href="?id={{this._id}}" class="lesson-link">
                        {{#with ../lessonDetails}}
                            {{#if (isSelected _id ../this._id)}}
                                <li class="lesson-item list-group-item lesson-active">  
                                    {{sumhelper @index 1}}. {{../this.title}}
                                </li>
                            {{else}}
                                <li class="lesson-item list-group-item">  
                                    {{sumhelper @index 1}}. {{../this.title}}
                                </li>
                            {{/if}}
                        {{/with}}
                    </a>
                </ul>
            {{/each}}
        </div>
    </div>
</div>
<div class="d-flex flex-md-nowrap justify-content-center pre_next-btn-wrap align-items-center position-fixed bottom-0">
    <button class="btn me-md-5 next-prev-btn btn-outline-secondary rounded-5" type="button">Previous Lesson</button>
    <button class="btn btn-primary next-prev-btn rounded-5" type="button">Next Lesson</button>
</div>
<script>
    
</script>

